﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h2>Server Name: @Model.Name</h2>
<h3>Software: @Model.Software</h3>


<p>Use this area to provide additional information.</p>


<button id="listButton"  class="btn-success">List Processes</button>
<ul id="processList" style="display:block" class="list-group"></ul>

@section scripts {
    <script type="text/javascript">
        function bindData(element, data) {
            $('<li/>')
                .addClass('list-group-item active')
                .text('Processes')                
                .appendTo(element);
            $.each(data, function (faith, p1) {
                $('<li/>')
                    .addClass('list-group-item')
                    .text(p1.Name + " - " + faith)
                    .appendTo(element);
            });
        }
        $(document).ready(function () {
            $("#listButton").bind("click", function (e) {
                if($("#processList")[0].hidden == true)
                {
                    $("#processList").show();
                }
                else {
                    $("#processList").hide();
                }
                $.ajax({
                    url: "/api/processes",
                    data: "",
                    type: "GET",
                    success: function (data) {
                        bindData($("#processList"), data);
                    }
                });
                
            });
        });
    </script>
}